.preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    pointer-events: none; /* Optional: prevent interactions */
  }
  
  .preloader-block {
    width: 20%;
    height: 100vh;
    background-color: #464444;
    transform: translateY(0%);
  }
  